#mainDiv {
/* 	margin: 0 auto;
    width: 60%
 */}
.bar {
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}




  .y.axis path, .x.axis path {
/*   display: none; */
}


.grid .tick {
    stroke: #E8E8E8;
}

.grid path {
      stroke-width: 0;
}

.buttonGroupTitle { 
	margin-right: 0px; 
	margin-top: 22px; 
} 

#buttonGroupsTitles { 
    float: left;
    margin-left: 30px;
} 

#companyButtonGroup {
 padding: 5px;
 margin: 5px;
 margin-left: 10px; 
 margin-right: 10px;
 //float: left;
}


#employeeButtonGroup {
 padding: 5px;
 margin: 5px;
 margin-left: 13px; 
 margin-right: 10px;
 
// float: left;
}

#percentageCompanyBarTitle {
	margin-left: 30px;
	margin-bottom: -20px;
}

#percentageCompanyBarNotes {
	margin-left: 30px;
	font-size: 12px;
}

.sortButton {
	height: 10px;
	border-radius: 3px;
	margin-top: 5px;

}

.buttonDiv {
	float: left;
	margin: 3px;
}

.employeeButtonDiv {
	float: left;
	margin-right: 6px;
}

#buttonGroup {
 float: left;
 min-width: 1150px;
}

#buttonGroups {
    width: 900px;
    float: left;
}

#explain {
	margin-left: 220px;
	margin-top: 30px;
	font-style: italic;
}


#explain2 {
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-style: italic;
}

